.itemCart{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
  margin-left: 1rem;
  background-color: #eabd3431;
  width: 90%;
  border-radius: 5px;
}

.delete{
  background-color: #ff0000;
  border: none;
  border-radius: 5px;
}