.Cart {
    background-color: #eabd34;
    font-size: 25px;
    width: 70px;
    position:relative;
    left: 40%;
    display: flex;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.5);
    margin-bottom: 1rem;
}
.imgCarrito {
    width: 20px;
}