.nav {
    background-color: #2e2e2ed7;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Titillium Web', sans-serif;
}
.title {
    font-size: 50px;
    color: #fff;
    animation:tracking-in-expand 3s cubic-bezier(.215,.61,.355,1.000) .8s both;
}
.buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 70%;
}

@keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}